<li class="meetup-item">
    <article>
        <div class="meetup-summary">
            <div class="meetup-image">
                <img src="{{image}}" alt="{{title}}">
            </div>
            {% comment %}
            abstract object from interpolation
            pass named values using 'with' when calling 'include' in page template
            {% endcomment %}
            <div class="meetup-details">
                <h3>{{title}}</h3>
                {% comment %} use default filter in case no location {% endcomment %}
                <address>{{location|default:'Somewhere'}}</address>
            </div>
        </div>
        <div class="meetup-actions">
            {% comment %}
            create url link to detail view using meet's slug 
            use {% url '<name>'%} tag where name is from urls.py 
            don't need to {% load %} url tag, unlike static
            pass data for any dynamic segments in order
            {% endcomment %}
            <a href="{% url 'detail' slug %} " class="btn">More Details</a>
        </div>
    </article>
</li>