{% extends 'meets/base/base.html' %}
{% load static %}

{% block title %}All Meetups{% endblock title %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'meets/css/all-meetups.css' %}">
{% endblock page_css %}

{% block main_heading %}There are great meetups happening soon & More posted everyday!{% endblock main_heading %}

{% block header_content %}
<p>Find something that suits your interests!</p>
{% endblock header_content %}

{% block body %}
<section>
    <h2>Upcoming Meetups</h2>
    <ol>
        {% for meet in meet_list %}
            {% comment %} wrap using with tag to prevent long lines {% endcomment %}
            {% comment %} ImageField exposes <object>.<image_property>.url autmatically as convenience {% endcomment %}
            {% with title=meet.title location=meet.location slug=meet.slug image=meet.image.url %}
            {% comment %} Pass named values expected by include partial {% endcomment %}
            {% include 'meets/includes/meet-item.html' %}
            {% endwith %}
        {% endfor %}
    </ol>
</section>
{% endblock body %}
