{% extends 'meets/base/base.html' %}
{% load static %}

{% block title %}All Meetups{% endblock title %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'meets/css/all-meetups.css' %}">
{% endblock page_css %}

{% block main_heading %}There are great meetups happening soon & More posted everyday!{% endblock main_heading %}

{% block header_content %}
<p>Find something that suits your interests!</p>
{% endblock header_content %}

{% block body %}
<section>
    <h2>Upcoming Meetups</h2>
    <ol>
        {% for meet in meet_list %}
            {% comment %} Pass named values expected by include partial {% endcomment %}
            {% include 'meets/includes/meet-item.html' with title=meet.title location=meet.location %}
        {% endfor %}
    </ol>
</section>
{% endblock body %}
